


body {background: rgb(0,0,0);
    overflow: hidden;
    font-family: 'Roboto';
    margin: 30% 0 0 0;
    position: relative;
    
}

body {
        background-image: url("images/burtonesque_family.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

.fade {
    content: '';
    position: fixed;
    top: 0px;
    width: 100%;
    height: 40%;
    background-image: linear-gradient((180deg, rgba(0,0,0,1) 40% rgba(0,0,0,1)100%));
}

.wrapped {
    display: flex;
    height: 75%;
    width: 40%;
    margin: 0 auto;
    perspective: 400px;
}

.rolling-text{
    color: yellow;
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: they_see_me_rolling 180s linear infinite;
   
}

h1, h2{
    text-align: center;
}

@keyframes they_see_me_rolling {
    from {top: 0; transform: translateZ(0)  rotateX(20deg) }
    to {top: -9500px; transform: translateZ(-2500px) rotateX(16deg) }
}

.contact {
    background-color: orangered;
    color: white;
    padding: 15px 30px;
    border-radius: 2px;
    border-color: orangered;
    position: fixed;
    bottom: -2px;
    right: 20px;
}

#contact-button{
    position: fixed;
    bottom: -2px;
    right: 20px;
    
}

#Projects-button{
    position: fixed;
    bottom: 2px;
    left: -10px;
    
}
    



